<!DOCTYPE html>
html(lang="es")
head
    title XXXXXXXXXXXXXXXXXXXXXXXXXX
    meta(charset = 'utf-8')
    meta(name='viewport' content='widht=device-width, initial-scale=1, shrink-to-fit=no')

nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='index.html')
      span .
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu